block content
  if error
    .alert-danger
      p #{error}
  .container
    div(class="container-fluid")
    form(action="/user", method="POST", enctype="multipart/form-data")
      div(class="form-group") 
        label(for="nome")  Nome
        input(class="form-control", type='text', name='nome')
      div(class="form-group") 
        label(for="descricao")  Descrição
        input(class="form-control", type='text', name='descricao')
      div(class="form-group") 
        label(for="image") Imagem
        input(class="btn btn-primary" ,type='file', name='foto', id='image')
      div
        button(class="btn btn-primary", type='submit') Save
