block content
  .container
    div(class="alert-success",ng-if="msg")
      p {{msg}}
    div(ng-if="users.length")
      div(class="form-group") 
        label(for="nome")  Buscar 
        input(class="form-control", type='text', ng-model='user.name')
      div(style="width=800")
      div(style="float : left; padding: 10px" ng-repeat="user in users | filter:user.nome | orderBy:'user.nome'")
        label Nome : {{user.nome}}
        br
        label Descrição : {{user.descricao}}
        br
        a(class="btn btn-primary" ,ng-href="#dashboard", ng-click="delete(user , $index)") Delete
        br
        img(class="img-circle" ,alt="{{user.name}}", height="200", width="200" ,ng-src="{{user.foto}}")
